.dsmeta-sales-table tbody tr {
  height: 74px;
  border-top: 1px solid #5f6e82;
}

.dsmeta-red-btn-container {
  display: flex;
  justify-content: center;
}

.dsmeta-sales-table tbody tr:hover > td {
  background-color: #384459;
}

.dsmeta-sales-table tbody tr:nth-child(odd) {
  background-color: #242c3b;
}
