* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  background-color: black;
  color: white;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}